<?php
/** @var Custobar_CustoConnector_Block_Adminhtml_Initial_Schedule_Population_Button $this */
/** @var Mage_Adminhtml_Model_Url $adminurl */
$adminurl = Mage::getModel('adminhtml/url');
$check_url = $adminurl->getUrl(
    'adminhtml/adminhtml_custoconnector_initial_schedule_population/status'
);
$start_url = $adminurl->getUrl(
    'adminhtml/adminhtml_custoconnector_initial_schedule_population/start'
);
$spinner_url = $this->getSkinUrl('images/process_spinner.gif');
$helper = Mage::helper('custoconnector');
?>
<input name="custoconnector_initial_schedule_population_model"
       id="custoconnector_initial_schedule_population_model" value=""
       class=" input-text" type="text">
<p class="note"><span>Specify the model to reschedule</span></p>
<?php echo $this->getButtonHtml() ?>
<p class="note" id="custoconnector_initial_schedule_population_status"></p>
<script type="text/javascript">
    //<![CDATA[
    var buttonbackup = $('custoconnector_initial_schedule_population').outerHTML;
    function custoconnector_show_spinner() {
        var spinner_url = '<?php echo $spinner_url; ?>';
        var button = $('custoconnector_initial_schedule_population');
        if (button) {
            button.replace('<img id="custoconnector_initial_schedule_population_spinner" src="' + spinner_url + '" alt="<?php echo $helper->__(
                    'processing...'
                ); ?>" title="<?php echo $helper->__(
                    'processing...'
                ); ?>"  />');
        }
    }

    function custoconnector_start_initial_schedule_population_status_check_timer() {
        setTimeout(custoconnector_check_initial_schedule_population_status, 5000);
    }

    function custoconnector_check_initial_schedule_population_status() {
        new Ajax.Request('<?php echo $check_url; ?>', {
            method: 'get',
            onSuccess: function (transport) {
                if (transport.responseJSON && transport.responseJSON.status) {
                    var status = transport.responseJSON.status;
                    if (status === 'processing') {
                        var message = '<p>' + transport.responseJSON.message + '</p>';
                        custoconnector_show_spinner();
                        $("custoconnector_initial_schedule_population_status").update(message);
                        custoconnector_start_initial_schedule_population_status_check_timer();
                    } else if (status === 'unknown') {
                        var button = $('custoconnector_initial_schedule_population');
                        var image = $('custoconnector_initial_schedule_population_spinner');
                        if (button) {
                            button.replace(buttonbackup);
                        }
                        if (image) {
                            image.replace(buttonbackup);
                        }

                        $("custoconnector_initial_schedule_population_status").update(message);
                    }
                } else {
                    console.log(transport);
                }
            }
        });
    }

    function custoconnector_start_initial_schedule_population() {
        if (!$("custoconnector_initial_schedule_population_model").value || $("custoconnector_initial_schedule_population_model").value.trim() === "") {
            if (!confirm("Are you sure you want to resend all data?")) {
                return;
            }
        }

        var initialPostParams = {
            "model": $("custoconnector_initial_schedule_population_model").value
        };
        new Ajax.Request('<?php echo $start_url; ?>', {
            method: 'post',
            parameters: initialPostParams,
            onSuccess: function (transport) {
                custoconnector_show_spinner();
                custoconnector_start_initial_schedule_population_status_check_timer();
            },
            onFailure: function (transport) {
                if (transport.responseJSON && transport.responseJSON.error && transport.responseJSON.error.message) {
                    var button = $('custoconnector_initial_schedule_population');
                    if (button) {
                        button.replace('<p>' + transport.responseJSON.error.message + '</p>');
                    }
                } else {
                    console.log(transport);
                }
                custoconnector_start_initial_schedule_population_status_check_timer();
            }
        });
    }
    //]]>
</script>


<script type="text/javascript">
    //<![CDATA[
    custoconnector_check_initial_schedule_population_status();
    //]]>
</script>
