<?php
/** @var Custobar_CustoConnector_Block_Adminhtml_Status $this */

/** @var Mage_Adminhtml_Model_Url $adminUrl */
$adminUrl = Mage::getModel('adminhtml/url');

$check_url = $adminUrl->getUrl(
    'adminhtml/adminhtml_custoconnector_helper/status'
);

$helper = Mage::helper('custoconnector');
?>

<p style="margin: 0; font-size: 11px;"
   id="custoconnector_schedule_status">Checking
    status..</p>

<p style="margin: 0; font-size: 11px;">Schedules with errors will be cleared
    after <?php echo Custobar_CustoConnector_Helper_Data::MAX_ERROR_COUNT ?>
    tries</p>
<script type="text/javascript">
    //<![CDATA[
    varienLoaderHandler.original_handler_on_create = varienLoaderHandler.handler.onCreate;
    varienLoaderHandler.original_handler_on_complete = varienLoaderHandler.handler.onComplete;
    varienLoaderHandler.handler.onCreate = function (request) {
        if (!request.url.match(/adminhtml_custoconnector_helper/)) {
            varienLoaderHandler.original_handler_on_create(request);
        }
    };
    varienLoaderHandler.handler.onComplete = function (transport) {
        if (!transport.url.match(/adminhtml_custoconnector_helper/)) {
            varienLoaderHandler.original_handler_on_complete(transport);
        }
    };

    function custoconnector_chech_schedule_status_timer() {
        setTimeout(custoconnector_check_schedule_status, 5000);
    }

    function custoconnector_check_schedule_status() {
        var jax = new Ajax.Request('<?php echo $check_url; ?>', {
            method: 'get',
            onSuccess: function (transport) {
                if (transport.responseJSON) {

                    var erroneous = transport.responseJSON.erroneous;
                    var unprocessed = transport.responseJSON.unprocessed;

                    var message = "Has errors: " + transport.responseJSON.erroneous + '<br>';
                    message += "In queue: " + transport.responseJSON.unprocessed + '<br>';

                    $("custoconnector_schedule_status").update(message);
                    custoconnector_chech_schedule_status_timer();
                }
            }
        });
    }
    //]]>
</script>


<script type="text/javascript">
    //<![CDATA[
    custoconnector_check_schedule_status();
    //]]>
</script>
